:root {
    --main: #1992d4;
    --main-hover: #157ab8;
    --bg-color: white;
    --bg-color-secondary: #e2e8f0;
    --accent: #f0b429;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color-secondary);
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 20%);
    grid-template-rows: repeat(2, 1fr);
    min-height: 100vh;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--bg-color);
    max-height: 20vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--main);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: none;
    color: var(--bg-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.4s ease;
    text-align: center;
    border: none;
    gap: 15px;
}

.sidebar ul button:hover {
    background-color: var(--main-hover);
}

.nav-links.main{
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: var(--bg-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.svgIcon {
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.logo .svgIcon {
    width: 40px;
}