:root {
    --main: #1992d4;
    --main-hover: #157ab8;
    --bg-color: white;
    --bg-color-secondary: #e2e8f0;
    --accent: #f0b429;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color-secondary);
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 17%);
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--bg-color);
    max-height: 18vh;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--main);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: none;
    color: var(--bg-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.4s ease;
    text-align: center;
    border: none;
    gap: 15px;
}

.sidebar ul button:hover {
    background-color: var(--main-hover);
    box-shadow: inset 5px 0 0 0 var(--accent);
}

.nav-links.main{
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: var(--bg-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.svgIcon {
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.altSvgIcon {
    width: 25px;
}

.logo .svgIcon {
    width: 40px;
}

.topSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.topSide-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.topSide-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottomSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.bottomSide-left {
    display: flex;
    gap: 25px;
    align-items: center;
}

.welcomeMessage-container {
    display: flex;
    flex-direction: column;
}
.welcomeMessage-container p {
    margin: 0;
    font-size: 16px;
}

.bottomSide-right {
    display: flex;
    gap: 25px;
    align-items: center;
}

.searchBar {
    padding: 4px;
    background-color: var(--bg-color-secondary);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    width: 30vw;
}


.searchBar:focus {
    outline: none;
    box-shadow: 0 0 5px var(--main);
}

.topSide-right button {
    background: none;
    border: none;
    cursor: pointer;
}

.profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.pressButtons {
    background-color: var(--main);
    color: var(--bg-color);
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.4s ease;
}

.pressButtons:hover {
    background-color: var(--main-hover);
}

.mainContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    box-sizing: border-box;
    gap: 10px;
}

.main-title {
    margin: 35px 0px 0px 25px;
    font-size: 18px;
    font-weight: bold;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0;
    margin: 0;
}

.mainContainer-right {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    box-shadow: inset 8px 0 0 0 var(--accent);
    justify-items: end;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 8px 0 0 0 var(--accent);
    transition: transform 0.2s;
    transform: scale(1.02);
}

.cardBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.cardBtn:hover {
    transition: transform 0.2s;
    transform: scale(1.2);
}

.trendingSection, .announceSection {
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
    margin: 20px;
}

.trendingSection h5, .announceSection h5 {
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 20px;
}

.trendingSection p, .announceSection p {
    font-size: 14px;
    margin-bottom: 0px;
}

.trendingCard-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0px 20px 0px;
}

.cardTop > p:first-child {
    font-size: 18px;
    font-weight: bold;
}